# Unit 4 Homework: Pandas, Pandas, Pandas

Using Pandas and Jupyter Notebook, create a report that includes the following data. Your report must include a written description of at least two observable trends based on the data.

## Analysis
A written description of at least two observable trends based on the data.

* Charter schools appear to have better performing students overall than district schools, when looking at the Overall Passing Rates of the highest and lowest 5 performing schools, as well as comparing against the Scores by School Type.
* Larger schools appear to have lower performance rates across board in comparison with medium and smaller sized schools.
* Students appear to perform better in Reading than Math on average across all schools

In [1]:
# Dependencies and set up
import os
import csv
import pandas as pd

# Load files
school_data_path= "./Resources/schools_complete.csv"
student_data_path = "./Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_path)
student_data = pd.read_csv(student_data_path)

# Combine the data into a single dataset
school_data_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# Check dataframe
school_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
school_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

# 1. District Summary
Create a high-level snapshot, in a DataFrame, of the district's key metrics, including the following:
* Total schools
* Total students
* Total budget
* Average math score
* Average reading score
* % passing math (the percentage of students who passed math)
* % passing reading (the percentage of students who passed reading)
* % overall passing (the percentage of students who passed math AND reading)

In [3]:
# number of schools
total_schools = school_data_df["school_name"].nunique()

# number of students
total_students = school_data_df["student_name"].count()

# total budget
# sum(school_data["budget"])
total_budget = sum(school_data_df["budget"].unique())

# average math score
avg_math = school_data_df["math_score"].mean()

# average reading score
avg_read = school_data_df["reading_score"].mean()

# percentage of passing math score 70%
pass_math = school_data_df.query("math_score >=70")
total_pass_math = pass_math["math_score"].count()

perc_math = (total_pass_math / total_students) * 100

# percentage of passing reading score 70%
pass_read = school_data_df.query("reading_score >=70")
total_pass_read = pass_read["reading_score"].count()

perc_read = (total_pass_read / total_students) * 100

# percentage of overall passing
both_pass_count = school_data_df[
    (school_data_df["math_score"] >= 70) &
    (school_data_df["reading_score"] >=70)
].count()["student_name"]
perc_all = (both_pass_count / total_students) * 100

# Create summary dataframe
district_summary_df = pd.DataFrame({
    "Total Schools": total_schools,
    "Total Students": total_students,
    "Total Budget": total_budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    "% Passing Math": [perc_math],
    "% Passing Reading": perc_read,
    "% Overall Passing": perc_all
})

# apply clean formatting
pd.options.display.float_format = "{:,.2f}".format
district_summary_df["Total Budget"] = district_summary_df[
    "Total Budget"].map("${:,.2f}".format)

# print dataframe
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.99,81.88,74.98,85.81,65.17

# School Summary
Create an overview table that summarizes key metrics about each school, including:
* School Name
* School Type
* Total Students
* Total School Budget
* Per Student Budget
* Average Math Score
* Average Reading Score
* % Passing Math
* % Passing Reading
* % Overall Passing (The percentage of students that passed math and reading.)

Create a dataframe to hold the above results

In [4]:
# set school names as index
school_data_gdf = school_data_df.set_index("school_name").groupby(["school_name"])

# school types by school
School_Type = school_data_gdf["type"].unique()                                             

# Total students by school
Total_Students = school_data_gdf["Student ID"].count()

# Total school budget by school
Total_School_Budget = school_data_gdf["budget"].mean()

# Per student budget by school
Per_Student_Budget = school_data_gdf["budget"].mean() / school_data_gdf["Student ID"].count()

# Average math score by school
Avg_Math_Score = round(school_data_gdf["math_score"].mean(), 6)

# Average reading score by school
Avg_Read_Score = round(school_data_gdf["reading_score"].mean(), 6)

# % passing math (the percentage of students who passed math) by school
Perc_Pass_Math = round(100 * (school_data_df.loc[school_data_df["math_score"] >= 70, :].groupby("school_name")["Student ID"].count() / school_data_df.groupby("school_name")["Student ID"].count()), 6)

# % passing reading (the percentage of students who passed reading) by school
Perc_Pass_Read = round(100 * (school_data_df.loc[school_data_df["reading_score"] >= 70, :].groupby("school_name")["Student ID"].count() / school_data_df.groupby("school_name")["Student ID"].count()), 6)

# % overall passing (the percentage of students who passed math AND reading) by school
Perc_Overall_Pass = round(100 * (school_data_df.loc[(school_data_df["reading_score"] >= 70) & (school_data_df["math_score"] >= 70), :].groupby("school_name")["Student ID"].count() / school_data_df.groupby('school_name')['Student ID'].count()), 6)

# Create summary dataframe
school_summary_df = pd.DataFrame({
    "School Type": School_Type,
    "Total Students": Total_Students,
    "Total School Budget": Total_School_Budget,
    "Per Student Budget": Per_Student_Budget,
    "Average Math Score": Avg_Math_Score,
    "Average Reading Score": Avg_Read_Score,
    "% Passing Math": Perc_Pass_Math,
    "% Passing Reading": Perc_Pass_Read,
    "% Overall Passing": Perc_Overall_Pass
})

# apply clean formatting
school_summary_df.index.name = "School Name"
pd.options.display.float_format = "{:,.2f}".format
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# print dataframe
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,[District],4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64
Cabrera High School,[Charter],1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33
Figueroa High School,[District],2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20
Ford High School,[District],2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29
Griffin High School,[Charter],1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60
Hernandez High School,[District],4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53
Holden High School,[Charter],427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23
Huang High School,[District],2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51
Johnson High School,[District],4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54
Pena High School,[Charter],962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54
Rodriguez High School,[District],3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99
Shelton High School,[Charter],1761,"$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89
Thomas High School,[Charter],1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95
Wilson High School,[Charter],2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58
Wright High School,[Charter],1800,"$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,90.33

# Highest-Performing Schools (By % Overall Passing)
Create a DataFrame that highlights the top 5 performing schools based on % Overall Passing. Include the following metrics:
* School name
* School type
* Total students
* Total school budget
* Per student budget
* Average math score
* Average reading score
* % passing math (the percentage of students who passed math)
* % passing reading (the percentage of students who passed reading)
* % overall passing (the percentage of students who passed math AND reading)

In [5]:
# Top 5 on Overall % Pass
highest_summary_df = school_summary_df.sort_values("% Overall Passing", ascending = False)
highest_summary_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,[Charter],1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33
Thomas High School,[Charter],1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95
Griffin High School,[Charter],1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60
Wilson High School,[Charter],2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58
Pena High School,[Charter],962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54

# Lowest-Performing Schools (By % Overall Passing)
Create a DataFrame that highlights the top 5 performing schools based on % Overall Passing. Include the following metrics:
* School name
* School type
* Total students
* Total school budget
* Per student budget
* Average math score
* Average reading score
* % passing math (the percentage of students who passed math)
* % passing reading (the percentage of students who passed reading)
* % overall passing (the percentage of students who passed math AND reading)

In [6]:
# Bottom 5 on Overall % Pass
lowest_summary_df = school_summary_df.sort_values("% Overall Passing", ascending = True)
lowest_summary_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Rodriguez High School,[District],3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99
Figueroa High School,[District],2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20
Huang High School,[District],2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51
Hernandez High School,[District],4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53
Johnson High School,[District],4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54

# Math Scores by Grade
Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
* Create a pandas series for each grade. Hint: use a conditional statement.
* Group each series by school
* Combine the series into a dataframe
* Optional: give the displayed data cleaner formatting

In [7]:
# School Grade Math scores
mathgrade = school_data_df.set_index("school_name").groupby(["school_name", "grade"])["math_score"].mean()
mathgrade.head()

school_name          grade
Bailey High School   10th    77.00
                     11th    77.52
                     12th    76.49
                     9th     77.08
Cabrera High School  10th    83.15
Name: math_score, dtype: float64

In [8]:
# Average math scores by grade
math9 = student_data.loc[
    student_data["grade"] == "9th"].groupby("school_name")["math_score"].mean()
math10 = student_data.loc[
    student_data["grade"] == "10th"].groupby("school_name")["math_score"].mean()
math11 = student_data.loc[
    student_data["grade"] == "11th"].groupby("school_name")["math_score"].mean()
math12 = student_data.loc[
    student_data["grade"] == "12th"].groupby("school_name")["math_score"].mean()

# Create summary dataframe
math_summary_df = pd.DataFrame({
    "9th": math9,
    "10th": math10,
    "11th": math11,
    "12th": math12,
})

# apply clean formatting
math_summary_df.index.name = "School Name"
pd.options.display.float_format = "{:,.2f}".format

# print dataframe
math_summary_df

                        9th  10th  11th  12th
School Name
Bailey High School    77.08 77.00 77.52 76.49
Cabrera High School   83.09 83.15 82.77 83.28
Figueroa High School  76.40 76.54 76.88 77.15
Ford High School      77.36 77.67 76.92 76.18
Griffin High School   82.04 84.23 83.84 83.36
Hernandez High School 77.44 77.34 77.14 77.19
Holden High School    83.79 83.43 85.00 82.86
Huang High School     77.03 75.91 76.45 77.23
Johnson High School   77.19 76.69 77.49 76.86
Pena High School      83.63 83.37 84.33 84.12
Rodriguez High School 76.86 76.61 76.40 77.69
Shelton High School   83.42 82.92 83.38 83.78
Thomas High School    83.59 83.09 83.50 83.50
Wilson High School    83.09 83.72 83.20 83.04
Wright High School    83.26 84.01 83.84 83.64

# Reading Score by Grade
Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
* Create a pandas series for each grade. Hint: use a conditional statement.
* Group each series by school
* Combine the series into a dataframe
* Optional: give the displayed data cleaner formatting

In [9]:
# School Grade Reading scores, other methods
# school_data_df.set_index("school_name").groupby(["school_name", "grade"])["reading_score"].mean()
#school_data_df.groupby(["school_name", "grade"])["reading_score"].agg(["mean"])

In [10]:
# Average reading scores by grade
read9 = student_data.loc[
    student_data["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
read10 = student_data.loc[
    student_data["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
read11 = student_data.loc[
    student_data["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
read12 = student_data.loc[
    student_data["grade"] == "12th"].groupby("school_name")["reading_score"].mean()

# Create summary dataframe
reading_summary_df = pd.DataFrame({
    "9th": read9,
    "10th": read10,
    "11th": read11,
    "12th": read12,
})

# apply clean formatting
reading_summary_df.index.name = "School Name"
pd.options.display.float_format = "{:,.2f}".format

# print dataframe
reading_summary_df

                        9th  10th  11th  12th
School Name
Bailey High School    81.30 80.91 80.95 80.91
Cabrera High School   83.68 84.25 83.79 84.29
Figueroa High School  81.20 81.41 80.64 81.38
Ford High School      80.63 81.26 80.40 80.66
Griffin High School   83.37 83.71 84.29 84.01
Hernandez High School 80.87 80.66 81.40 80.86
Holden High School    83.68 83.32 83.82 84.70
Huang High School     81.29 81.51 81.42 80.31
Johnson High School   81.26 80.77 80.62 81.23
Pena High School      83.81 83.61 84.34 84.59
Rodriguez High School 80.99 80.63 80.86 80.38
Shelton High School   84.12 83.44 84.37 82.78
Thomas High School    83.73 84.25 83.59 83.83
Wilson High School    83.94 84.02 83.76 84.32
Wright High School    83.83 83.81 84.16 84.07

# Scores by School Spending
Create a table that breaks down school performance based on average spending ranges (per student). Use your judgment to create four bins with reasonable cutoff values to group school spending. Include the following metrics in the table:
* Average math score
* Average reading score
* % passing math (the percentage of students who passed math)
* % passing reading (the percentage of students who passed reading)
* % overall passing (the percentage of students who passed math AND reading)

In [ ]:
# Scores by spending ranges (per student) $: <585, 585-630, 630-645, 645-680

# create bins
spending_bins = [0, 585, 630, 645, 9999]
bin_names = ["< $585", "$585 - 630", "$630 - 645", "> $644"]
school_data_df["Spending Ranges"] = pd.cut(school_data_df["budget"]/school_data_df['size'], spending_bins, labels = bin_names)
spending_gdf = school_data_df.groupby("Spending Ranges")

# Average math, reading score by spending range
# school_data_df.groupby(["Spending Ranges"])[["math_score", "reading_score"]].agg(["mean"])
spending_avgmath = spending_gdf["math_score"].mean()
spending_avgread = spending_gdf["reading_score"].mean()

# % Pass by spending range
mathpass = school_data_df[school_data_df["math_score"] >= 70].groupby("Spending Ranges")
spending_mathpass = round(100 * (mathpass["Student ID"].count() / spending_gdf["Student ID"].count()), 6)

readpass = school_data_df[school_data_df["reading_score"] >= 70].groupby("Spending Ranges")
spending_readpass = round(100 * (readpass["Student ID"].count() / spending_gdf["Student ID"].count()), 6)

allpass = school_data_df[(school_data_df["math_score"] >= 70) &
               (school_data_df[school_data_df["reading_score"] >= 70])].groupby("Spending Ranges")["Student ID"].count() / spending_gdf["Student ID"].count()
spending_allpass = round(100 * (allpass["Student ID"].count() / spending_gdf["Student ID"].count()), 6)

# Create summary dataframe
spending_summary_df = pd.DataFrame({
    "Average Math Score": spending_avgmath,
    "Average Reading Score": spending_avgread,
    "% Passing Math": spending_mathpass,
    "% Passing Reading": spending_readpass,
    "% Overall Passing": spending_allpass
})

# apply clean formatting
reading_summary_df.index.name = "Spending Ranges"
pd.options.display.float_format = "{:,.2f}".format

# print dataframe
spending_summary_df

## Scored by School Size
Create a table that breaks down school performance based on school size (small, medium, or large).

In [ ]:
# Scores by school size: Small (<1000), Medium (1000-2000), Large (2000-5000)

# create bins
size_bins = [0, 1000, 2000, 5000]
sizebin_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"
school_data_df["School Size"] = pd.cut(school_data_df["size"], size_bins, labels = sizebin_names)
size_gdf = school_data_df.groupby("School Size")

# Average math, reading score by school size
size_avgmath = size_gdf["math_score"].mean()
size_avgread = size_gdf["reading_score"].mean()

# % Pass by school size
mathpass_gsize = school_data_df[school_data_df["math_score"] >= 70].groupby("School Size")
size_passmath = round(100 * (mathpass_gsize["Student ID"].count() / size_gdf["Student ID"].count()), 6)

readpass_gsize = school_data_df[school_data_df["reading_score"] >= 70].groupby("School Size")
size_passread = round(100 * (readpass_gsize["Student ID"].count() / size_gdf["Student ID"].count()), 6)

allpass_gsize = school_data_df[(school_data_df["math_score"] >= 70) &
               (school_data_df[school_data_df["reading_score"] >= 70])].groupby("School Size")["Student ID"].count() / size_gdf["Student ID"].count()
size_allpass = round(100 * (allpass_gsize["Student ID"].count() / size_gdf["Student ID"].count()), 6)
                 
# Create summary dataframe
schoolsize_summary_df = pd.DataFrame({
    "Average Math Score": size_avgmath,
    "Average Reading Score": size_avgread,
    "% Passing Math": size_passmath,
    "% Passing Reading": size_passread,
    "% Overall Passing": size_allpass
})
                 
# apply clean formatting
reading_summary_df.index.name = "School Size"
pd.options.display.float_format = "{:,.2f}".format

# print dataframe
schoolsize_summary_df

## Scores by School Type
Create a table that breaks down school performance based on type of school (district or charter).

In [ ]:
# Scores by school type: charter, district

schooltype = school_data_df.groupby("type")

# average maths, reading score by school type
type_avgmath = by_type['math_score'].mean()
type_avgread = by_type['math_score'].mean()

# % pass math, reading, overall by school type
passmath_gtype = school_data_df[school_data_df["math_score"] >= 70].groupby("type")
type_passmath = round(100 * (passmath_gtype["Student ID"].count() / schooltype["Student ID"].count()), 6)

passread_gtype = school_data_df[school_data_df["reading_score"] >= 70].groupby("type")
type_passread = round(100 * (passread_gtype["Student ID"].count() / schooltype["Student ID"].count()), 6)

allpass_gtype = school_data_df[(school_data_df["math_score"] >= 70) &
               (school_data_df[school_data_df["reading_score"] >= 70])].groupby("School Size")["Student ID"].count() / schooltype["Student ID"].count()
type_allpass = round(100 * (allpass_gtype["Student ID"].count() / schooltype["Student ID"].count()), 6)

# Create summary dataframe
schooltype_summary_df = pd.DataFrame({
    "Average Math Score": type_avgmath,
    "Average Reading Score": type_avgread,
    "% Passing Math": type_passmath,
    "% Passing Reading": type_passread,
    "% Overall Passing": type_allpass
})

# apply clean formatting
reading_summary_df.index.name = "School Type"
pd.options.display.float_format = "{:,.2f}".format

# print dataframe
schooltype_summary_df